
    <!-- 广告 -->
    <div class="ads">
        <div class="cg">
            <img src="../images/demo3.jpg" />
        </div>
    </div>

    <!-- 文章 -->
    <div class="comarticle">
        <div class="cg">

            <!-- 文章标题和内容 -->
            <div class="am-u-sm-12">
                <div class="comarticle-right info-container">
                    <article class="am-article">
                        <div class="am-article-hd">
                            <h1 class="am-article-title">@Model.title</h1>
                            <p class="am-article-meta">
                                作者：@Model.author &nbsp;&nbsp;
                                发布人：@Model.nname &nbsp;&nbsp;
                                时间：@Model.ctime &nbsp;&nbsp;
                            </p>
                        </div>
                        <div class="am-article-bd">
                            <p>
                                @Model.ahtml
                            </p>
                           
                        </div>
                    </article>
                </div>
            </div>
            <div class="am-cf"></div>

            <!-- 评论列表 -->
            <div class="am-u-sm-12 am-comments-list">
                <h2 class="am-text-right am-padding-top-lg">
                    评论 <span class="am-badge am-round am-badge-success" id="sp1">@ViewBag.Count</span>
                </h2>
                <hr />
                <article class="am-comment" id="acr">

                </article>
                    @*<article class="am-comment">
                 评论容器
                <a href="">
                     评论者头像
                    <img src="../images/face.jpg" class="am-comment-avatar" alt="" />
                </a>

                <div class="am-comment-main">
                     评论内容容器
                    <header class="am-comment-hd">
                        <h3 class="am-comment-title">评论标题</h3>
                        <div class="am-comment-meta">
                             评论元数据
                            <a class="am-comment-author">张三</a>  评论者
                            评论于 <time datetime="">2017-08-09</time>
                        </div>
                    </header>
                     评论内容
                    <div class="am-comment-bd">
                        好厉害，好厉害，好厉害，好厉害，好厉害，好厉害，好厉害，好厉害。
                    </div>
                </div>
            </article>*@

                    @*<article class="am-comment">
                 评论容器
                <a href="">
                     评论者头像
                    <img src="../images/face.jpg" class="am-comment-avatar" alt="" />
                </a>

                <div class="am-comment-main">
                     评论内容容器
                    <header class="am-comment-hd">
                        <h3 class="am-comment-title">评论标题</h3>
                        <div class="am-comment-meta">
                             评论元数据
                            <a class="am-comment-author">张三</a>  评论者
                            评论于 <time datetime="">2017-08-09</time>
                        </div>
                    </header>
                     评论内容
                    <div class="am-comment-bd">
                        好厉害，好厉害，好厉害，好厉害，好厉害，好厉害，好厉害，好厉害。
                    </div>
                </div>
            </article>*@

                    @*<article class="am-comment">
                 评论容器
                <a href="">
                     评论者头像
                    <img src="../images/face.jpg" class="am-comment-avatar" alt="" />
                </a>

                <div class="am-comment-main">
                     评论内容容器
                    <header class="am-comment-hd">
                        <h3 class="am-comment-title">评论标题</h3>
                        <div class="am-comment-meta">
                             评论元数据
                            <a class="am-comment-author">张三</a>  评论者
                            评论于 <time datetime="">2017-08-09</time>
                        </div>
                    </header>
                     评论内容
                    <div class="am-comment-bd">
                        好厉害，好厉害，好厉害，好厉害，好厉害，好厉害，好厉害，好厉害。
                    </div>
                </div>
            </article>

            <article class="am-comment">
                 评论容器
                <a href="">
                     评论者头像
                    <img src="../images/face.jpg" class="am-comment-avatar" alt="" />
                </a>

                <div class="am-comment-main">
                     评论内容容器
                    <header class="am-comment-hd">
                        <h3 class="am-comment-title">评论标题</h3>
                        <div class="am-comment-meta">
                             评论元数据
                            <a class="am-comment-author">张三</a>  评论者
                            评论于 <time datetime="">2017-08-09</time>
                        </div>
                    </header>
                     评论内容
                    <div class="am-comment-bd">
                        好厉害，好厉害，好厉害，好厉害，好厉害，好厉害，好厉害，好厉害。
                    </div>
                </div>
            </article>

            <article class="am-comment">
                 评论容器
                <a href="">
                     评论者头像
                    <img src="../images/face.jpg" class="am-comment-avatar" alt="" />
                </a>

                <div class="am-comment-main">
                     评论内容容器
                    <header class="am-comment-hd">
                        <h3 class="am-comment-title">评论标题</h3>
                        <div class="am-comment-meta">
                             评论元数据
                            <a class="am-comment-author">张三</a>  评论者
                            评论于 <time datetime="">2017-08-09</time>
                        </div>
                    </header>
                     评论内容
                    <div class="am-comment-bd">
                        好厉害，好厉害，好厉害，好厉害，好厉害，好厉害，好厉害，好厉害。
                    </div>
                </div>
            </article>*@
            </div>

            <div id="fenye">

            </div>
            <!-- 评论翻页 -->
            @*<ul class="am-pagination am-pagination-default">
                <li class="am-pagination-first ">
                    <a href="#" class="">第一页</a>
                </li>
                <li class="am-pagination-prev ">
                    <a href="#" class="">上一页</a>
                </li>
                <li class="">
                    <a href="#" class="">1</a>
                </li>
                <li class="am-active">
                    <a href="#" class="am-active">2</a>
                </li>
                <li class="">
                    <a href="#" class="">3</a>
                </li>
                <li class="">
                    <a href="#" class="">4</a>
                </li>
                <li class="">
                    <a href="#" class="">5</a>
                </li>
                <li class="am-pagination-next ">
                    <a href="#" class="">下一页</a>
                </li>

                <li class="am-pagination-last ">
                    <a href="#" class="">最末页</a>
                </li>
            </ul>*@

            <!-- 我要说两句 -->
        <div class="am-u-sm-12 am-comments-list">
            @*<h2 class="am-text-right am-padding-top-lg">
            我要说两句，<a href="/home/login" class="am-text-warning">请先登陆</a>
        </h2>*@
            <hr />

            <!-- 富编辑器-Begin -->

            <div style="width:100%;">
                <script id="editor" type="text/plain" style="width:800px;height:300px;">
                </script>
                
            </div>

            <!-- 富编辑器-End -->
            <p class="am-align-right">
                <button class="am-btn am-btn-success" id="bt1">提交</button>
            </p>
        </div>
        </div>
    </div>

@section js2
{
    <script>
        var index = 1;
        var curr = 1;
        $(function () {
            Data(index);
            $.post("/home/")
        })
        function Data(index) {
            $.post("/home/pages", { "aid":@Request.QueryString["aid"], "index": index, "size": 4 }, function (d) {
                var article = $("#acr");
                article.empty();
                $.each(d.rows, function (k, v) {
                    //alert(JSON.stringify(d.rows));
                    $("<a href=''><img src='../images/face.jpg' class='am-comment-avatar' alt='' /></a>").appendTo(article);
                    $("<div class='am - comment - main'><header class='am-comment-hd'><h3 class='am-comment-title'></h3><div class='am-comment-meta'><a class='am-comment-author'>" + v.nname + "</a>评论于 <time datetime=''>" +$.convertJonsTime(v.cmtime) + "</time></div></header></div><div class='am-comment-bd'>" + v.cmhtml + "</div></div>").appendTo(article);
                });
                layui.use(
                        ['laypage', 'layer'], function () {
                            var laypage = layui.laypage,
                                layer = layui.layer;
                            laypage.render({
                                 elem: 'fenye'
                                ,count: d.total
                                , curr: curr
                                ,layout: ['prev', 'page', 'next', 'skip']
                                , jump: function (obj, first) {
                                    if (!first) {
                                        curr = obj.curr;
                                        console.log(obj.curr);
                                        Data(obj.curr);
                                    }
                                }
                              });
                        }
                    );
                
            })
        }
        var ue = UE.getEditor('editor');
        $("#bt1").click(function () {
                        var test = ue.getContent();
            var article = $("#acr");
            
                        var com = { "aid":@Model.aid,"cmhtml":test };
            $.post("/home/addComment", { "com": com }, function (d) {
                if (d != null) {


                    console.log(d);
                    
                    $("<a href=''><img src='../images/face.jpg' class='am-comment-avatar' alt='' /></a>").appendTo(article);
                    $("<div class='am - comment - main'><header class='am-comment-hd'><h3 class='am-comment-title'></h3><div class='am-comment-meta'><a class='am-comment-author'>" + d.nname + "</a>评论于 <time datetime=''>" +$.convertJonsTime(d.cmtime) + "</time></div></header></div><div class='am-comment-bd'>" + test + "</div></div>").appendTo(article);
                            }
                        })
                    });
       
    </script>
}

