<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="~/Areas/easyui/1.5.2/themes/default/easyui.css" rel="stylesheet" />
    <script src="~/Areas/easyui/1.5.2/jquery.min.js"></script>
    <script src="~/Areas/easyui/1.5.2/jquery.easyui.min.js"></script>
    <script src="easyui/1.5.2/locale/easyui-lang-zh_CN.js"></script>
    <link href="~/Areas/css/icon.css" rel="stylesheet" />
    <link href="~/Areas/css/wu.css" rel="stylesheet" />
</head>
<body>
    <div class="easyui-layout" data-options="fit:true">
        <!-- Begin of toolbar -->
        <div id="wu-toolbar-2">
            <div class="wu-toolbar-button">
                <a href="#" class="easyui-linkbutton" iconcls="icon-add" onclick="openAdd()" plain="true">添加</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon-edit" onclick="openEdit()" plain="true">修改</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon-remove" onclick="remove()" plain="true">删除</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="cancel()" plain="true">取消</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon-reload" onclick="reload()" plain="true">刷新</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon-print" onclick="openAdd()" plain="true">打印</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon-help" onclick="openEdit()" plain="true">帮助</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon-undo" onclick="remove()" plain="true">撤销</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon-redo" onclick="cancel()" plain="true">重做</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon-sum" onclick="reload()" plain="true">总计</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon-back" onclick="reload()" plain="true">返回</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon-tip" onclick="reload()" plain="true">提示</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon-save" onclick="reload()" plain="true">保存</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon-cut" onclick="reload()" plain="true">剪切</a>
            </div>
            @*<div class="wu-toolbar-search">
                    <label>起始时间：</label><input class="easyui-datebox" style="width:100px">
                    <label>结束时间：</label><input class="easyui-datebox" style="width:100px">
                    <label>用户组：</label>
                    <select class="easyui-combobox" panelheight="auto" style="width:100px">
                        <option value="0">选择用户组</option>
                        <option value="1">黄钻</option>
                        <option value="2">红钻</option>
                        <option value="3">蓝钻</option>
                    </select>
                    <label>关键词：</label><input class="wu-text" style="width:100px">
                    <a href="#" class="easyui-linkbutton" iconcls="icon-search">开始检索</a>
                </div>*@
        </div>
        <!-- End of toolbar -->
        <table id="wu-datagrid-2" class="easyui-datagrid" toolbar="#wu-toolbar-2">
        </table>
    </div>
    <!-- Begin of easyui-dialog -->
    <div id="wu-dialog-2" class="easyui-dialog" data-options="closed:true,iconCls:'icon-save'" style="width:400px; padding:10px;">
        <form id="wu-form-2" method="post">
            <table>
                <tr>
                    <td width="60" align="right">姓名:</td>
                    <td><input type="text" name="uname" class="wu-text" /></td>
                </tr>
                <tr>
                    <td align="right">密码:</td>
                    <td><input type="password" name="upwd" class="wu-text" /></td>
                </tr>
                <tr>
                    <td align="right">昵称:</td>
                    <td><input type="text" name="nname" class="wu-text" /></td>
                </tr>
                <tr>
                    <td align="right">手机号:</td>
                    <td><input type="text" name="mobile" class="wu-text" /></td>
                </tr>
                <tr>
                    <td valign="top" align="right">管理员</td>
                    <td>
                        <input type="radio" name="admin" value="true" />是
                        <input type="radio" name="admin" value="false" />否
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <!-- End of easyui-dialog -->
    var u_row;
    <script type="text/javascript">
        /**
        * Name 添加记录
        */
        $(function () {
            $("#wu-datagrid-2").datagrid({
                url: "/index/GetCMS_User",
                columns: [[
                    
                    { field: 'uid', title: '编号', width: 100 },
                    { field: 'uname', title: '姓名', width: 100 },
                    { field: 'upwd', title: '密码', width: 100 },
                    { field: 'nname', title: '昵称', width: 100 },
                    { field: 'mobile', title: '手机号', width: 100 },
                    { field: 'admin', title: 'admin', width: 100 },
                ]],
                singleSelect: true,
                striped: true,
                fitColumns: true,
                loadMsg: "数据正在加载....",
                pagination: true,
                pageSize: 3,
                pageList: [1, 2, 3, 4, 5, 6],
                rownumbers: true,
                pagePosition: "bottom"
            });
        })

        function add() {
            $('#wu-form-2').form('submit', {
                url: '/index/Adduser',
                success: function (data) {
                    if (data) {
                        $.messager.alert('信息提示', '添加成功！', 'info');
                        $('#wu-dialog-2').dialog('close');
                    }
                    else {
                        $.messager.alert('信息提示', '添加失败！', 'info');
                    }
                }
            });
        }

        /**
        * Name 修改记录
        */
        function edit() {
            var item = $('#wu-datagrid-2').datagrid('getSelected');
            u_row = item;
              var ids = [];
                        $(u_row).each(function () {
                            ids.push(this.uid);
                        });
           
            $('#wu-form-2').form('submit', {
                url: '/index/editUser',
                onSubmit: function (p) {
                    p.uid = ids
                },
                success: function (data) {
                    if (data) {
                        $.messager.alert('信息提示', '修改成功！', 'info');
                        
                        $('#wu-dialog-2').dialog('close');
                        $("#wu-datagrid-2").datagrid("reload");
                    }
                    else {
                        $.messager.alert('信息提示', '修改失败！', 'info');
                    }
                }
            });
        }

        function reload() {
            $("#wu-datagrid-2").reload();
        }

        /**
        * Name 删除记录
        */
        function remove() {
            var row = $("#wu-datagrid-2").datagrid("getSelected");
            //alert(row)
              u_row = row;
            if (row != null) {
                $.messager.confirm('信息提示', '确定要删除该记录？', function (result) {
                    if (result) {
                        
                        var ids = [];
                        $(row).each(function () {
                            ids.push(this.uid);
                        });
                       //alert(1)
                        $.post("/index/deluser", { "uid": ids }, function (d) {
                            if (d > 0) {
                                
                                $("#wu-datagrid-2").datagrid("reload");
                            }
                        });
                    }
                });
            }
            else {
                $.messager.alert('警告', '请选中一行');
            }
        }

        /**
        * Name 打开添加窗口
        */
        function openAdd() {

            $('#wu-form-2').form('clear');
            $('#wu-dialog-2').dialog({
                closed: false,
                modal: true,
                title: "添加信息",
                buttons: [{
                    text: '确定',
                    iconCls: 'icon-ok',
                    handler: add
                }, {
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        $('#wu-dialog-2').dialog('close');
                    }
                }]
            });

            window.top.addTab("添加文章", "/index/articleadd", "icon-book-add");
        }

        /**
        * Name 打开修改窗口
        */
        function openEdit() {
            var item = $('#wu-datagrid-2').datagrid('getSelected');
            u_row = item;
            if (item != null) {
              
               
            $('#wu-dialog-2').dialog({
                closed: false,
                modal: true,
                title: "修改信息",
                buttons: [{
                    text: '确定',
                    iconCls: 'icon-ok',
                    handler: edit
                }, {
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        $('#wu-dialog-2').dialog('close');
                    }
                }]
            });
            }
            else {
                $.messager.alert('警告', '请选中一行');
                return;
            }
           
            
        }

        /**
        * Name 分页过滤器
        */
        function pagerFilter(data) {
            if (typeof data.length == 'number' && typeof data.splice == 'function') {// is array
                data = {
                    total: data.length,
                    rows: data
                }
            }
            var dg = $(this);
            var opts = dg.datagrid('options');
            var pager = dg.datagrid('getPager');
            pager.pagination({
                onSelectPage: function (pageNum, pageSize) {
                    opts.pageNumber = pageNum;
                    opts.pageSize = pageSize;
                    pager.pagination('refresh', { pageNumber: pageNum, pageSize: pageSize });
                    dg.datagrid('loadData', data);
                }
            });
            if (!data.originalRows) {
                data.originalRows = (data.rows);
            }
            var start = (opts.pageNumber - 1) * parseInt(opts.pageSize);
            var end = start + parseInt(opts.pageSize);
            data.rows = (data.originalRows.slice(start, end));
            return data;
        }

        /**
        * Name 载入数据
        */
        $('#wu-datagrid-2').datagrid({
            method: 'get',
            url: '../data/datagrid.json',
            loadFilter: pagerFilter,
            rownumbers: true,
            singleSelect: false,
            pageSize: 20,
            pagination: true,
            multiSort: true,
            fitColumns: true,
            fit: true,
            columns: [[
                { field: 'ck', checkbox: true },
                { field: 'productid', title: 'productid', width: 100, sortable: true },
                { field: 'productname', title: 'productname', width: 180, sortable: true },
                { field: 'unitcost', title: 'unitcost', width: 100 },
                { field: 'listprice', title: 'listprice', width: 100 },
                { field: 'attr1', title: 'attr1', width: 100 },
                { field: 'itemid', title: 'itemid', width: 100 },
                { field: 'status', title: 'status', width: 100 }
            ]]
        });
    </script>
</body>
</html>